openapi: 3.0.1
info:
  title: Baldwin Inbox Assistant
  version: 0.5.0
  description: API for scanning one or more IMAP folders, summarizing email content, building Markdown digests, and sending digest emails
servers:
  - url: https://baldwin.azure.barrimond.net/api
components:
  schemas:
    EmailMessage:
      type: object
      properties:
        id:
          type: string
          nullable: true
        subject:
          type: string
        sender:
          type: string
        to:
          type: array
          items:
            type: string
          nullable: true
        cc:
          type: array
          items:
            type: string
          nullable: true
        bcc:
          type: array
          items:
            type: string
          nullable: true
        reply_to:
          type: array
          items:
            type: string
          nullable: true
        date:
          type: string
        body:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        folder:
          type: string
          nullable: true
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
    SummaryRequest:
      type: object
      required:
        - body
      properties:
        body:
          type: string
    SummaryResponse:
      type: object
      required:
        - summary
      properties:
        summary:
          type: string
    DigestSummaryItem:
      oneOf:
        - type: string
        - type: object
          properties:
            summary:
              type: string
    BuildDigestRequest:
      type: object
      required:
        - summaries
      properties:
        summaries:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DigestSummaryItem'
        audience:
          type: string
          default: robert
    SendDigestRequest:
      type: object
      required:
        - to
        - subject
        - content
      properties:
        to:
          type: string
        subject:
          type: string
        content:
          type: string
    SendDigestResponse:
      type: object
      required:
        - status
        - from
      properties:
        status:
          type: string
          enum:
            - sent
        from:
          type: string
paths:
  /scan-mail:
    get:
      summary: Fetch recent emails from one or more IMAP folders
      operationId: scanMail
      parameters:
        - name: days
          in: query
          description: Number of past days to fetch emails from
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 1
        - name: folders
          in: query
          description: Comma-separated IMAP folder list. When omitted, the handler uses IMAP_FOLDERS or falls back to INBOX.
          required: false
          schema:
            type: string
          example: INBOX,Archive
        - name: folder
          in: query
          description: Compatibility alias for folders. Accepts the same comma-separated folder list.
          required: false
          schema:
            type: string
          deprecated: true
      responses:
        '200':
          description: Successful scan
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailMessage'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: IMAP upstream failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /summarize-email:
    post:
      summary: Summarize a single email body locally
      operationId: summarizeEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummaryRequest'
      responses:
        '200':
          description: Summary result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /build-digest:
    post:
      summary: Build a Markdown digest from email summaries
      operationId: buildDigest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildDigestRequest'
      responses:
        '200':
          description: Digest result
          content:
            text/markdown:
              schema:
                type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /send-digest:
    post:
      summary: Send a prepared digest email over SMTP
      operationId: sendDigest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDigestRequest'
      responses:
        '200':
          description: Email dispatch confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendDigestResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: SMTP upstream failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'