openapi: 3.0.1
info:
  title: Baldwin Inbox Assistant
  version: 1.0.0
  description: API for scanning inboxes, summarizing content, building digests, and sending email updates
servers:
  - url: https://baldwin.azure.barrimond.net/api
components:
  schemas:
    EmailMessage:
      type: object
      properties:
        subject:
          type: string
        sender:
          type: string
        to:
          type: array
          items:
            type: string
          nullable: true
        cc:
          type: array
          items:
            type: string
          nullable: true
        bcc:
          type: array
          items:
            type: string
          nullable: true
        date:
          type: string
        body:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
paths:
  /scan-mail:
    get:
      summary: Fetch recent emails from the configured IMAP inbox
      operationId: scanMail
      parameters:
        - name: days
          in: query
          description: Number of past days to fetch emails from
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful scan
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmailMessage'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: IMAP upstream failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /summarize-email:
    post:
      summary: Summarize a single email body locally
      operationId: summarizeEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
      responses:
        '200':
          description: Summary result
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /build-digest:
    post:
      summary: Build a Markdown digest from email summaries
      operationId: buildDigest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summaries:
                  type: array
                  items:
                    oneOf:
                      - type: string
                      - type: object
                        properties:
                          summary:
                            type: string
                audience:
                  type: string
      responses:
        '200':
          description: Digest result
          content:
            text/markdown:
              schema:
                type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /send-digest:
    post:
      summary: Send a prepared digest email over SMTP
      operationId: sendDigest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: string
                subject:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: Email dispatch confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  from:
                    type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: SMTP upstream failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'